.next{
    border-radius: 15px;
    background-color: green;
    color: white;
}
.prev{
    border-radius: 15px;
    background-color: darkgray;
    color: white;
}
.submit{
    border-radius: 15px;
    background-color: rgb(49, 49, 158);
    color: white;
}
.qbox{
    padding-top: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.qinfo{
    border-radius: 5px;
    border-color: violet;
    height: 300px;
    width: 1200px
}
.buttons{
    display: flex;padding-top: 10px;padding-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
}


label.box{display: flex;font-weight: bold;margin-top: 10px;padding: 10px 12px;border-radius: 5px;cursor: pointer;border: 1px solid #ddd}
#one:checked~label.first, #two:checked~label.second, #three:checked~label.third, #four:checked~label.forth, #five:checked~label.fifth, #six:checked~label.sixth, #seven:checked~label.seveth, #eight:checked~label.eighth{border-color: #8e498e}
#one:checked~label.first .circle, #two:checked~label.second .circle, #three:checked~label.third .circle, #four:checked~label.forth .circle, #five:checked~label.fifth .circle, #six:checked~label.sixth .circle, #seven:checked~label.seveth .circle, #eight:checked~label.eighth .circle{border: 6px solid #8e498e;background-color: #fff}
label.box:hover{background: #d5bbf7}
/* label.box .course{display: flex;align-items: center;width: 1100px} */
label.box .circle{height: 22px;width: 22px;border-radius: 50%;margin-right: 15px;border: 2px solid #ddd;display: inline-block}
input[type="radio"]{display: none}
@media(max-width: 450px){
  .subject{font-size: 12px}
}