.scroll-transition-section {
    min-height: 500vh;

    #first {
        position: absolute;
        max-height: 90vh;
        width: 85vw;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    

    .map-holder {
        padding-top: 50px;
        position: relative;
        top: 90vh;
        max-height: 90vh;
        width: 85vw;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 

        #second {
            position: absolute;
            height: 90vh;
            width: 85vw;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            z-index: -1;
        }

        #pin1 {
            position: absolute;
            transform: translate(0, -50px);
            opacity: 0;
            top: 43vh;
            left: 11vw;
            width: 2vw;
        }

        #pin2 {
            position: absolute;
            transform: translate(0, -50px);
            opacity: 0;
            top: 47vh;
            left: 20vw;
            width: 2vw;
        }

        #pin3 {
            position: absolute;
            transform: translate(0, -50px);
            opacity: 0;
            top: 57vh;
            left: 43vw;
            width: 2vw;
        }

        .list-animation * {
            border-style: solid;
            border-color: black;
            border-width: 2px;
            border-radius: 20px;
            height: 10vh;
            margin-top: 3vh;
            background-image: -webkit-linear-gradient(-50deg, #bd0f0fbb 70%, #e70000bb 30%);
            display: flex;
            align-items: center;
            padding-left: 25px;
            color: white;
        }
        .list-animation {
            position: absolute;
            height: 60vh;
            width: 20vw;
            top: 20vh;
            left: 60vw;

            #item1 {
            }
            #item2 {
                
            }
            #item3 {
                
            }
        }
    }
}