.credit-section {
    height: 100vh;
    background-image: linear-gradient(rgb(210, 207, 239), rgb(147, 141, 206));
}

.people-holder {
    display: flex;
    flex-wrap: wrap;
}

#credit-item {
    flex: 1 1 calc(50%);
    border-top: solid 1px #000;
    padding-bottom: 40vh;
    width: 30vw;
    height: 30vh;
    overflow: hidden;
}

#profile {
    width: 30%;
    border-radius: 20px;
}
